.dataEntryItem {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}

.dataEntryItem:hover span > p > .categoryLabel{
    display: inline;
}

.dataEntryItem span {
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.dataEntryItem span p {
    display: flex;
    align-items: center;
}

.dataEntryItem button {
    border: none;
    outline: none;
    background-color: #eee;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2.5px;
}

.dataEntryItem button:hover {
    transform: scale(1.7);
}

.categoryLabel {    
    display: none;
    font-size: 0.9rem;
    margin-left: 10px;
}

