.dataEntryItem {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-inline: auto;
}

.dataEntryItem:hover span > p > .categoryLabel{
    display: inline;
}

.dataEntryItem span {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.dataEntryItem span p {
    display: flex;
    align-items: center;
}

.dataEntryItem button {
    border: none;
    outline: none;
    background-color: #eee;
    font-size: 1rem;
    font-weight: bold;
    margin-top: 2.5px;
}

.dataEntryItem button:hover {
    transform: scale(1.7);
}

.categoryLabel {    
    display: none;
    font-size: 0.9rem;
    margin-left: 10px;
}


@media screen and (max-width: 1400px){
    .dataEntryItem span {
        width: 90%;
    }   
}


@media screen and (max-width: 1350px){
    .dataEntryItem {
        justify-content: flex-end;
        align-items: center;
        
    }
}


@media screen and (max-width: 1300px){
    .dataEntryItem {
        width: 80%;
    }
}

@media screen and (max-width: 1000px){
    .dataEntryItem {
        width: 60%;
    }
}

@media screen and (max-width: 800px){
    .dataEntryItem {
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    .dataEntryItem {
        width: 95%;
    }
}


