footer {
    width: 100%;
    font-size: 1.8rem;
    height: 12.5vh;
    background-color: #3CC47C;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #eee;
    margin-top: 50px;
}

