.totalLine {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-block: 5px;
    width: 60%;
    font-weight: bold;
    border-top: 2px solid #141414;
    border-bottom: 2px solid #141414;
    margin-top: 25px;
    margin-bottom: 40px;  
    margin-inline: auto;
}

.totalCaption {
    margin-right: 30px;
}

@media screen and (max-width: 1300px){
    .totalLine {
        width: 80%;
    }
}

@media screen and (max-width: 1000px){
    .totalLine {
        width: 60%;;
    }
}

@media screen and (max-width: 800px){
    .totalLine {
        width: 90%;
    }
}

@media screen and (max-width: 500px){
    .totalLine {
        width: 95%;
    }
}